@model ASUVP.Online.Web.Models.Claim.ClaimVM
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
        crossorigin="anonymous"></script>

<script src="~/Content/js/Claim.js"></script>
<style>

.formAddClaim{
    top: -1055px!important;
    left: 0px!important;
    height: 71.8%!important;
    padding-top: 378px;
    background-color: rgba(0, 0, 0, 0.5);
}

div[aria-describedby="addClaim"] .ui-dialog-titlebar{
    width: 50.1%;
    margin: auto;
    float: none;
}

div[aria-describedby="addClaimSend"]{
    z-index:999;
}
    #addClaim{
        background-color: #fff;
        width: 50%!important;
        margin: auto;
        height: 17%!important;
    }
    #addClaim p{
        text-align:center;
    }
    .ui-dialog-titlebar{
        background: #f3f3f4;
        position: relative;
        height: 25px;
        width: 93.11%;
        float: right;

    }
    .sbmt{
        background-color: #1ab394;
        color: white;
        position: absolute;
        top: 80px;
        right: 0px;
    }
    .template{
        width:100%;
    }

    .addForm{
        position:relative;
        width:80%;
        margin:auto;
    }
    .ui-dialog-titlebar-close{
        background-color: #1ab394;
        border: 0;
        color: #fff;
        border-radius: 51px;
        position: absolute;
        right: 5px;
        bottom: 3px;
    }

    .accordion-heading{
            margin-top: 10px;
            border: 1px solid rgb(148, 148, 148);
            padding: 5px 11px 6px 9px;
            border-radius: 5px 5px 0px 0px;
    }

    .accordion-heading a{
        color: #949494;
        width: 100%;
        display: block;
    }

    .claim label{
      
    }

    .claim input{
        margin-bottom:5px;
        margin-top:5px;
    }
    
    .ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
    background: white;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 45%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}

/* Icons */
.ui-datepicker .ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
	left: .5em;
	top: .3em;
}


#addClaimSend{
      background: #f3f3f4; 
      width: 93%!important;
      float: right;
}

.formAdd1{
    position: absolute!important;
    top: 80px!important;
    right: 1%!important;
    left: initial!important;
    height: 700px!important;
    overflow-y: auto;
    margin-bottom: 20px;
    width: 100%!important;
    background: rgba(0, 0, 0, 0.5);
}

.sbmt2 {
    background-color: #1ab394;
    color: white;
    position: relative;
    top: 0px;
    right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ui-widget-overlay
{
    opacity: 0.50;
    background-color: #ff0000;
}



.ui-widget-content {
    border: 1px solid #ddd;
    width: 100%!important;
}

#ui-datepicker-div{
    width: 250px!important;
}
</style>

<div id="content-inner" style="padding: 10px 30px 30px 30px; background: #ffffff; width: 100%">
    <iframe name="frame" style="width: 30%; height: 30%; position: absolute; z-index: -1"></iframe>

    @if (ViewBag.MessageSuccess != null)
    {
        <div class="alert alert-success alert-dismissable">@ViewBag.MessageSuccess</div>
    }

    @Html.Partial("_GridRibbon", new string[] {"ClaimView", "Claim"})

    @Html.Action("ClaimViewPartial", new
{
    period = Model.Filter.DocPeriodType,
    dateBeg = Model.Filter.DocDateBeg,
    dateEnd = Model.Filter.DocDateEnd,
    shipment = Model.Filter.ShipmentType,
    shipmentBeg = Model.Filter.ShipmentBeg,
    shipmentEnd = Model.Filter.ShipmentEnd,
    coordination = Model.Filter.StatusId,
    signing = Model.Filter.EPStatusId,
    manager = Model.Filter.AgrManagerId
})
</div>

<input id="ClaimId" type="hidden" value="">

<div id="filter">@Html.Partial("Filter/Filter", Model?.Filter)</div>

<div id="addClaim">
    @Html.Action("TemplateAdd")
</div>
<div style="height:500px;overflow-y: auto;">
<div id="addClaimSend">
    @Html.Action("TemplateAddForm")
 </div>
</div>